.header_footer {
  margin: 0 auto;
  height: 100px;
  display: flex;
  justify-content: space-evenly;
  padding: 10px;
  background-color: rgba(10, 38, 64, 1);

}
.header_footer img {
  width: 150px;
  margin-left: 50px;
}
